{
  "env": {
    "es": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react"
      ]
    },
    "cjs": {
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": "commonjs"
          }
        ],
        "react"
      ]
    }
  }
}
